[CREDENTIALS]

# The OAuth token and client ID for your bot's Twitch account.
# They can be obtained from https://twitchapps.com/tmi/
access_token=
client_id=

# Name by which the bot should refer to itself.
bot_nick=

# Comma- and/or space-separated list of channels to join before joining the
# channels registered in the database.
initial_channels=

# Seconds to wait before responding to a duplicate command (ignore spam).
# Note: Code for handling the command is still run and counts are incremented.
heartbeat=30

[COMMANDS]

# Comma- and/or space-separated list of prefixes the bot will use for commands.
command_prefixes=!

# Unprefixed name of the built-in command used for managing other commands.
# This is identical to "commands" with Nightbot.
base_command_name=cmd

# Specify unprefixed aliases for actions of the management base command in the
# form of a comma- or space-separated list of names in the following order:
##### ADD EDIT DELETE DISABLE ENABLE ALIAS
base_command_aliases=addcmd, editcmd, delcmd, disable, enable, alias

# Allow custom commands to override built-in commands with the same names.
# Note: Command admins are given a warning and asked to confirm the decision.
override_builtins=true

# Lowest permissions any chatter would need to use to commands.
# Options: everyone|vip|moderator|owner
default_perms=everyone

# Initial count given to a new command.
default_count=0

# Require a message when adding a new command.
require_message=true

[DATABASE]

# File to which the database connects.
db_file=db/bot.db

