[CREDENTIALS]

# The OAuth token and client ID for your bot's Twitch account.
# They can be obtained from https://twitchapps.com/tmi/
access_token=
client_id=

# Name by which the bot should refer to itself.
bot_nick=

# A space-separated list of channels to join before joining the
# channels registered in the database.
initial_channels=

# Seconds to wait before responding to a duplicate (spammed) command.
# Note: Code for handling the command is still run and counts are incremented.
heartbeat=30

[COMMANDS]

# A space-separated list of command prefixes. A prefix can be one or more
# characters. If more than one are specified, the bot will respond to commands
# beginning with any in the list.
command_prefixes=!

# The unprefixed name of the built-in command used for managing other commands.
# This is identical to the "commands" command with Nightbot. Ensure the name
# does not include a prefix (e.g., "!commands" -> "commands").
base_command_name=cmd

# Assign aliases to actions of the command management built-in command. Again,
# do not include prefixes. If you would prefer your mods use the full
# "<!cmd> <action>" syntax instead of a certain alias, leave the option blank.
add_command_alias=addcmd
edit_command_alias=editcmd
delete_command_alias=delcmd
disable_command_alias=disable
enable_command_alias=enable
give_alias_command_alias=alias
show_command_alias=showcmd
syntax_command_alias=syntax

# Allow custom commands to override built-in commands with the same names.
# Note: Command admins are given a warning and asked to confirm the decision.
override_builtins=true

# Lowest permissions any chatter would need to use to commands. Choose one from
# the following: { everyone, vip, moderator, owner }
default_perms=everyone

# The initial count given to a new command.
default_count=0

# Require a message when adding a new command.
require_message=true

[DATABASE]

# The file to which the database connects.
db_file=db/bot.db

